@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Bad+Script);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);


body {
background: url('/assets/fresh_snow.png');
font-family: "Josefin", sans-serif;
font-size: 20px; 
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  box-shadow: 1px 1px 3px red;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
  font-family: 'Slabo 27px', serif; 
}

.navbar.navbar-inverse {
  background-color: rgba(0,0,0,0.7);
  margin-bottom: 0;  
  border-style: none; 
}

.navbar-inverse .navbar-brand {
  color: red;
  font-family: 'Architects Daughter', cursive;
  font-size: 40px;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
}

#map {
  height: 300px;
}

.clear {
  clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}


.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  height: 600px;
  width: 100%; 
  margin-right: auto;
  margin-left: auto; 
}

.carousel-caption {
  font-family: 'Bad Script', cursive;
  font-size: 60px;
  font-weight: 100; 
  text-shadow: rgba(250,0,0,0.95) 2px 2px;
  background-color: rgba(0,0,0,0.4);
  width: 100%; 
  position: absolute;
  left: 0;
  bottom: 0;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}



/* For the button */
.animate
{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button
{
  position: relative;
  padding: 10px 10px;
  margin: 0px 10px 10px 0px;
  float: left;
  border-radius: 8px;
  font-family: 'Josefin Sans', 'sans-serif';
  font-size: 20px;
  color: #FFF;
  text-decoration: none;  
}

.red
{
  background-color: #E74C3C;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #BD3E31;
}

.blue
{
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
}

.yellow
{
  background-color: #F2CF66;
  border-bottom: 5px solid #D1B358;
  text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}

.comment {
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px; 
}